/* TODO: improve user experiece doing more fluid (Layout shifter) the page*/

@media screen and (max-width: 260px){
    body {
      width: 130%;
    }
}

@media screen and (min-width: 550px){
    footer {
      padding: 5px !important;
      letter-spacing: 0.1rem !important;
    }

	.inside section{
		width: 65% !important;
	}
}



@media screen and (min-width: 300px){
    #restaurants-list li{
        width: 45%;
        padding: 10px 10px;
    }

    #restaurants-list li a{
        margin: 5px 0 0;
        padding: 5px 5px;
    }

}



@media screen and (min-width: 1200px){
    #restaurants-list li{
    	width:30%;
    }

}

@media screen and (min-width: 1600px){
	#restaurants-list li{
		width: 20%;
	}
}