/* TODO: improve user experiece doing more fluid (Layout shifter) the page*/
@media screen and (min-width: 550px){
    footer {
      padding: 5px !important;
      letter-spacing: 0.1rem !important;
    }

	.inside section{
		width: 65% !important;
	}
}


@media screen and (min-width: 768px){
    #restaurants-list li{
    	width: 45%;
    }

}


@media screen and (min-width: 1200px){
    #restaurants-list li{
    	width:33%;
    }

}

@media screen and (min-width: 1600px){
	#restaurants-list li{
		width: 25%;
	}
}