@media screen and (max-width: 550px){
    footer {
      padding: 5px !important;
      letter-spacing: 0.1rem !important;
    }


	.inside section{
		width: 100% !important;
	}
}


@media screen and (max-width: 960px){
    footer {
      padding: 5px !important;
      letter-spacing: 0.2rem !important;
    }

	.inside section{
		width: 90%;
	}
}

/* TODO: improve user experiece doing more fluid (Layout shifter) the page*/
